body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ff0000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ffffff;
}

.logo-container {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 10px;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff6a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #00b33c;
}

.team {
    text-align: center;
}

.member {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.member h3 {
    margin-top: 0;
}

/* Additional Styles */
footer {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

#ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ad {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ad img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.ad p {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
}

.ad a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #008000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ad a:hover {
    background-color: #006400;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

#claimContainer {
    display: none;
}

button.claim-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.claim-btn:hover {
    background-color: #cc0000;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}
